* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
  height: 100vh;
}

.wrapper {
  text-align: center;
  width: 315px;
}

.wrapper > .grid > div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper > .grid > div > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #c39a3b;
  margin: 2px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  font-size: 50px;
  border: 2px solid transparent;
}

.wrapper > .algos > button {
  margin-top: 10px;
  background: #c39a3b;
  outline: none;
  border-radius: 30px;
  font-family: inherit;
  font-size: 20px;
  border: 2px solid transparent;
  width: 150px;
}

.wrapper > .algos > button:hover, .wrapper > .grid > div > span:hover, .pop-up:hover {
  color: #c39a3b;
  background-color: #212121;
  border-color: #c39a3b;
  cursor: pointer;
  transition: 0.5s;
}

.pop-up {
  background: #c39a3b;
  margin-bottom: 15px;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid transparent;
  position: relative;
}

.pop-up > span {
  font-weight: bold;
}

.pop-up > img {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
}

.pop-up:hover > img {
  filter: invert(89%) sepia(6%) saturate(6665%) hue-rotate(334deg) brightness(84%) contrast(78%);
}

.pop-up > img:hover {
  transform: rotate(360deg);
  transition: 0.5s;
}